@font-face {
font-family: "Europa Regular";
src: url("fonts/Europa Regular/europa-regular-webfont.eot");
src:
url("fonts/Europa Regular/europa-regular-webfont.woff") format("woff"),
url("fonts/Europa Regular/europa-regular-webfont.otf") format("opentype"),
url("fonts/Europa Regular/europa-regular-webfont.svg#filename") format("svg");}

@font-face {
font-family: "Tex Gyre Regular";
src: url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.eot");
src:
url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.woff") format("woff"),
url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.otf") format("opentype"),
url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.svg#filename") format("svg");}

@font-face {
font-family: "Tex Gyre Bold";
src: url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.eot");
src:
url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.woff") format("woff"),
url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.otf") format("opentype"),
url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.svg#filename") format("svg");}

@font-face {
font-family: "Palm Canyon Drive Heavy";
src: url("fonts/Palm Canyon Drive Heavy/palmcanyondrive-heavy-webfont.eot");
src:
url("fonts/Palm Canyon Drive Heavy/palmcanyondrive-heavy-webfont.woff") format("woff"),
url("fonts/Palm Canyon Drive Heavy/palmcanyondrive-heavy-webfont.otf") format("opentype"),
url("fonts/Palm Canyon Drive Heavy/palmcanyondrive-heavy-webfont.svg#filename") format("svg");}

img.chemex {
    position: fixed;
    text-align: center;
     padding: 70px 0;
    bottom: 0;
    right: 0;
  }

h1 {
  font-family: 'Europa Regular';
  font-size: 48px;
  text-align: center;
  color: rgb(207,69,33);
}

.first {
  font-family: 'Tex Gyre Regular';
  font-size: 36px;
  color: blue;
}

p.first {
  font-size: 16px;
  text-align: right;
}

.potato {
  color: green;
  font-size: 24px;
}

p.potato {
  font-size: 16px;
  text-align: right;
}

span {
  font-family: 'Tex Gyre Bold';
  font-size: 48px;
  color: rgb(207,69,33);
}

span b {
  font-size: 20px;
  vertical-align: 8px;
}

h1.blood {
  font-family: 'Tex Gyre Bold';
  font-size: 32px;
  color: rgb(207,69,33);
  margin: 0;
}

#content {
  font-family: 'Tex Gyre Regular';
  padding: 50px;
  text-align: center;
  margin-left: 140px;
  background-color: white;
  max-width: 290px;
}

p.boldText {
  font-family: 'Tex Gyre Bold';
}

p.adjust {
  margin:0;
}

img.badge {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  float: center;
  padding-bottom: 10px;
}

h1.forProduct {
  font-family: "Palm Canyon Drive Heavy";
  font-size: 130px;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url("../images/roman.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1390px;
  background-position: -60px -280px;
  height: 150px;

}

body.product {
  background-image: url("../images/off-black.png") ,url("../images/off-black.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  background-color: white;
}

#imageContent {
  padding: 30px;
  background-color: white;
  margin-left: 100px;
  margin-bottom: 60px;
}

img.chemexPot {
  height: 510px;
}

#wrap {
  background-color: white;
}

#blackground {
  margin-top: 30px;
  color: (33,37,43);
}

img.pouring {
  display: block;
  height: 300px;
  float: left;
}

nav {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: (33,37,43);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Europa Regular';
    font-size: 18px;
}

li a:hover {
  color: rgb(150,150,150);
}

#listContent {
  font-family: 'Tex Gyre Regular';
  color: white;
  margin-left: 100px;
  padding-top:10px;
}

li a.hyperList {
  font-family: 'Europa Regular';
  color: lightblue;
  padding: 2px;
  text-align: left;
  font-size: 16px;
}

li a.hyperList:hover {
  color:cyan;
  padding: 2px;
}

li.navigation {
  float: left;
}

#hyperContent {
  max-width: 700px;
  color: white;
  margin-left: 100px;
}

#hyperWrapper {
  display: flex;
}

p.Brew {
  font-size: 16px;
  text-align: left;
  margin-bottom: 0;

}

p.BrewT {
  font-family: 'Europa Regular';
  font-size: 16px;
  color: lightblue;
  margin-top: 0;
}

h2.stepHeading {
  font-family: 'Tex Gyre Regular';
  margin-bottom: 0;
}

p.stepParagraph {
  margin-top: 1;
  font-family: 'Europa Regular';
  font-size: 18px;
}

img.filter1 {
  height:150px;
}

img.filter2 {
  height: 150px;
}

img.kettlePour {
  width: 600px;
}

img.grounds {
  width: 600px;
}

img.kettleWater {
  width: 600px;
}

img.endPour {
  width: 600px;
}

img.drip {
  width: 600px;
}

h1.chemexBackground {
  background-image: url("../images/chemexBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1390px;
  background-position: -50px -450px;
  height: 400px;
}
