* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 @font-face {
 font-family: "Europa Regular";
 src: url("fonts/Europa Regular/europa-regular-webfont.eot");
 src:
 url("fonts/Europa Regular/europa-regular-webfont.woff") format("woff"),
 url("fonts/Europa Regular/europa-regular-webfont.otf") format("opentype"),
 url("fonts/Europa Regular/europa-regular-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "Tex Gyre Bold";
 src: url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.eot");
 src:
 url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.woff") format("woff"),
 url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.otf") format("opentype"),
 url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "Tex Gyre Regular";
 src: url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.eot");
 src:
 url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.woff") format("woff"),
 url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.otf") format("opentype"),
 url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "Tofino Book";
 src: url("fonts/Tofino Book/tofinobook-webfont.eot");
 src:
 url("fonts/Tofino Book/tofinobook-webfont.woff") format("woff"),
 url("fonts/Tofino Book/tofinobook-webfont.otf") format("opentype"),
 url("fonts/Tofino Book/tofinobook-webfont.svg#filename") format("svg");}

/*Navigation Bar Start*/
 .navbar.navbar-default {
   border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

 .container {
   font-family: 'Tofino Book';
   font-size: 125%;
 }

.navbar .navbar-nav li {
  /* change color of subheadings in dropdown menu*/
}

.navbar .navbar-nav li > a {
  color: white !important;
}

.navbar .navbar-nav li > a:hover {
  color: grey !important;
}

.navbar .navbar-brand {
font-size: 20px;
color: white !important;
}

#Untitled {
  height: 115%;
  position: relative;
  bottom: 7px;
}

.dropdown li {
  font-size: 18px;
}

.dropdown li > a {
  font-size: 14px;
}

.affix {
    top: 0;
    width: 100%;
  }
/*Navigation Bar End*/

/*Body Start*/
body {
  overflow-x: hidden;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-around;
  margin: 40px auto 0 auto;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.image-header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden !important;
  max-width: 100%;
}

.image-header img {
  width: 1282px;
  object-fit: cover;
}

.text-container {
  text-align: center;
  padding: 25px 50px 50px 50px;
  max-width: 420px;
  min-width: 420px;
  font-family: 'Tex Gyre Regular';
  font-size: 18px;
}

img.badge-image  {
  height: 150px;
}

.orange-text {
  font-family: 'Tex Gyre Bold';
  font-size: 32px;
  color: rgb(207,69,33);
}

p.adjust {
  margin-bottom: 20px;
}

.boldText {
  font-family: 'Tex Gyre Bold';
}

img.chemex {
  margin: 13px auto 0 auto;
  height: 504px;
}

@media screen and (max-width: 600px) {
  img.chemex {
    height: 350px;
  }
}

.flex-container-2 {
  display: -webkit-flex; /* Safari */
  display: flex;
  /*Space-around?*/
  margin: 60px auto 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
}

.list-container {
  padding-top: 64px;
  font-family: 'Tex Gyre Regular';
  padding-right: 100px;
  padding-left: 30px;
}

figcaption {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

li a {
  font-family: 'Europa Regular';
  color: rgb(0,129,238);
  font-size: 20px;
}

li a:hover {
  color: rgb(0,160,238);
  text-decoration: none;
}

.textbox-container {
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Tex Gyre Regular';
  max-width: 700px;
  word-wrap: normal;
}

p.textbox-container {
  font-family: 'Europa Regular';
}

h1.textbox-container {
  padding-left: 15px;
  padding-right: 15px;
}

/*Body End*/
