* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 @font-face {
 font-family: "Europa Regular";
 src: url("fonts/Europa Regular/europa-regular-webfont.eot");
 src:
 url("fonts/Europa Regular/europa-regular-webfont.woff") format("woff"),
 url("fonts/Europa Regular/europa-regular-webfont.otf") format("opentype"),
 url("fonts/Europa Regular/europa-regular-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "Tex Gyre Bold";
 src: url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.eot");
 src:
 url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.woff") format("woff"),
 url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.otf") format("opentype"),
 url("fonts/Tex Gyre Bold/texgyreschola-bold-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "Tex Gyre Regular";
 src: url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.eot");
 src:
 url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.woff") format("woff"),
 url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.otf") format("opentype"),
 url("fonts/Tex Gyre Regular/texgyreschola-regular-webfont.svg#filename") format("svg");}

 @font-face {
 font-family: "Tofino Book";
 src: url("fonts/Tofino Book/tofinobook-webfont.eot");
 src:
 url("fonts/Tofino Book/tofinobook-webfont.woff") format("woff"),
 url("fonts/Tofino Book/tofinobook-webfont.otf") format("opentype"),
 url("fonts/Tofino Book/tofinobook-webfont.svg#filename") format("svg");}

/*Body Start*/
body {
  overflow-x: hidden;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-around;
  margin: 40px auto 0 auto;
  flex-wrap: wrap;
  overflow-x: hidden;
  margin-top: 0;
}

.image-header img {
  width: 100%;
  object-fit: cover;
}

.text-container {
  text-align: center;
  padding: 25px 50px 50px 50px;
  max-width: 420px;
  min-width: 420px;
  font-family: 'Tex Gyre Regular';
  font-size: 18px;
}

img.badge-image  {
  height: 150px;
}

.orange-text {
  font-family: 'Tex Gyre Bold';
  font-size: 32px;
  color: rgb(207,69,33);
}

p.adjust {
  margin-bottom: 20px;
  font-family: "Europa Regular";
}

.boldText {
  font-family: 'Tex Gyre Bold';
}

img.chemex {
  margin: 13px auto 0 auto;
  height: 504px;
}

@media screen and (max-width: 600px) {
  img.chemex {
    height: 350px;
  }
}

@media screen and (max-width: 600px) {
  .image-header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .image-header img {
    width: 1000px;
  }
}

.flex-container-2 {
  display: -webkit-flex; /* Safari */
  display: flex;
  /*Space-around?*/
  margin: 60px auto 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
}

.list-container {
  padding-top: 64px;
  font-family: 'Tex Gyre Regular';
  padding-right: 100px;
  padding-left: 30px;
}

figcaption {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

li a {
  font-family: 'Europa Regular';
  color: rgb(0,129,238);
  font-size: 20px;
}

li a:hover {
  color: rgb(0,160,238);
  text-decoration: none;
}

.textbox-container {
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Tex Gyre Regular';
  max-width: 700px;
  word-wrap: normal;
}

p.textbox-container {
  font-family: 'Europa Regular';
}

h1.textbox-container {
  padding-left: 15px;
  padding-right: 15px;
}

/*Body End*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: rgb(33,37,43);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    color: rgb(33,37,43);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(207,69,33);
}

#sidebar ul.components {

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#sidebar ul li a:hover {
    color: rgb(207,69,33);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: black;
    background: #fff;
}

#sidebar ul li.dropdown > a, a[aria-expanded="true"] {
  background: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(33,37,43);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding-left: 15px;
    padding-top: 5px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-btn {
   border-color: #fff !important;
   color: rgb(33,37,43) !important;
   background-color: #fff !important;
}

button {
  height: 35px;
  width: 45px;
}
